.top-bg {
    background-image: url('/images/hero-bg.png');
    background-size: 100% 843px;
    background-repeat: no-repeat;
    background-position: center;
    height: 843px;
}

.sales-simulator-bg {
    background-image: url('/svgs/sales-simulator-bg.svg');
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
}

.footer-bg {
    background-image: url('/images/footer-bg.png');
    background-size: 100% 591px;
    background-repeat: no-repeat;
    background-position: center;
    height: 591px;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
}

.swiper-button-disabled {
    display: none !important;
}

.swiper-button-next {
    --swiper-theme-color: #5E5873;
}

.swiper-button-prev {
    --swiper-theme-color: #5E5873;
}